.main-container {
  display: flex;
  gap: 20px;
  padding: 50px;
  width: 80%;
  min-height: 60vh;
  border-radius: 30px;
  position: relative;
  text-align: left;
  left: 4%;
  border: 2px solid black;
  .left-panel {
    //   padding: 50px;
    .knowledge-list {
      display: flex;
      flex-direction: column;
      gap: 25px;
      background-color: rgb(205 53 50 / 44%);
      border-radius: 20px;
      padding: 20px;
      .type {
        cursor: pointer;
        padding: 10px;
      }
      .selected-type {
        background-color: #deb88799;
        border-radius: 8px;
      }
    }
  }
  .right-panel {
    width: 85%;
  }
}
